doctype html
html
  head
    title= title
    link(rel="stylesheet", href="./css/bootstrap.min.css")
    script(src="./js/bootstrap.js", defer) 
    script(src='./jquery/jquery.min.js', defer)
    script(src='./javascripts/scripts.js', defer)
  body
    block content

  